/*------------------------------------*\
    MARGINS
\*------------------------------------*/
/**
 * Generic class for add margin
 */

//@for $i from 1 through 30 {
//    %mT#{$i*10} {
//        margin-top: ($i*10)+px;
//    };
//}

//@for $i from 1 through 30 {
//  %mB#{$i*10} { margin-bottom: ($i*10)+px; };
//}

//@for $i from 1 through 30 {
//  %mR#{$i*10} { margin-right: ($i*10)+px; };
//}

//@for $i from 1 through 30 {
//  %mL#{$i*10} { margin-left: ($i*10)+px; };
//}
