doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/compiled/app.css')

	body(ng-app="snapApp")
		.wrapper
			header
				include header
			main
				block content
			footer
				include footer


		script(defer src='/js/vendor/angular.min.js')
		//Angular Modules
		script(defer src='/js/modules/angular-cookies.min.js')
		script(defer src='/js/modules/angular-resource.min.js')
		script(defer src='/js/modules/angular-route.min.js')
		//Angular Scripts
		script(defer src='/js/app.js')
		script(defer src='/js/controllers/msgGenerateCtrl.js')
		script(defer src='/js/controllers/msgTimerCtrl.js')
		script(defer src='/js/services/messageService.js')
		script(defer src='/js/services/fileUpload.js')
		script(defer src='/js/factory/messageFactory.js')
		//Angular Directives
		script(defer src='/js/directives/angular-timer.min.js')
		script(defer src='/js/directives/angular-slider.min.js')
		script(defer src='/js/directives/angular-fileModel.js')


